# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
genaienv/
venv/
.venv/
env/


# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
*~

#  OS Files
.DS_Store
Thumbs.db
desktop.ini
